@font-face {
    font-family: 'BlackMarker'; 
    src: url('/static/fonts/BlackMarker.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Forta'; 
    src: url('/static/fonts/Forta.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PerfectPen'; 
    src: url('/static/fonts/KGPerfect.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #a7292f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0 0 0 0;
    padding-top: 80px; 
}

textarea {
    width: 400px;
    max-width: 90%;
    padding: 10px;
    font-size: 16px;
    background-color: #fff; 
    color: #4d3449;
    border: 1px solid #4d3449;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-family: 'BlackMarker', sans-serif; 
    font-size: 26px;
    cursor: pointer;
    background-color: #290102; 
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #a7292f; 
}

h1{
    font-family: 'Forta', sans-serif;
    text-align: center; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    color: a7292f; 
} 

h2{
    font-family: 'BlackMarker', sans-serif; 
}

p{ 
    font-family: 'PerfectPen', sans-serif; 
    text-align: center;
}

li{
    font-family: 'PerfectPen', sans-serif; 
    text-align: left;
}

/* Navigation bar-------------------------------------- */
.navbar {
    width: 100%;
    background-color: #cdc69a; 
    padding: 5px 0; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 999; 
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.nav-title {
    font-size: 22px;
    font-weight: bold;
    color: white;
    font-family: 'Forta', sans-serif;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px; 
    font-weight: 500;
    font-family: 'BlackMarker', sans-serif;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #a7292f; 
}

/* Title Section-------------------------------------- */
#title {
    background-image: url("images/ombre.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    width: 100%;
    height: 100vh;                
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    box-sizing: border-box;
}

.title-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.title-text h1 {
    font-size: 70px;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
}

.title-text h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #290102;
}


.title-logo {
    height: 350px;
    width: auto;  
    object-fit: contain;
    margin-bottom: 50px;
}

/* About 1 Section-------------------------------------- */
.about-section {
    background-color: #cdc69a; 
    padding: 60px 20px;
    font-size: 30px;
}

.about-wrapper {
    display: flex;
    align-items: center;  
    gap: 30px;
    flex-wrap: wrap;
}

.about-text {
    flex: 2;
    color: #290102;
    min-width: 300px;
    text-align: center;     
    display: flex;
    flex-direction: column;
    justify-content: center;  
}


.about-image img {
    max-width: 350px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px; 
}

/* About 2 Section-------------------------------------- */
.about2-section {
    background-color: #F9E7D5; 
    padding: 60px 20px;
    font-size: 30px;
}

.about2-wrapper {
    display: flex;
    align-items: center;      
    flex-wrap: wrap;
}

.about2-text {
    color: #290102;
    flex: 2;
    min-width: 300px;
    text-align: center;     
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.about2-image img {
    width: auto;
    height: 500px;
    border-radius: 10px;
    margin-top: 10px;
}

/* About3 section-------------------------------------- */
.about3-section {
    background-image: url("images/blob.png"); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    box-sizing: border-box;
}


.about3-wrapper {
    display: flex;
    align-items: center;      
    flex-wrap: wrap;
}

.about3-text h1{
    color: #a7292f;
    font-size: 50px;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.about3-text h2{
    color: #290102;
    font-size: 40px;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.about3-text code{
    color: #290102;
    font-size: 25px;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.about3-text p{
    color: #290102;
    font-size: 25px;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.about3-image img {
    width: auto;
    height: 500px;
    border-radius: 10px;
    margin-top: 10px;
}

/* About4 section-------------------------------------- */
.about4-section {
    background-image: url("images/flower.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    box-sizing: border-box;
}

.about4-wrapper {
    display: flex;
    align-items: center;      
    flex-wrap: wrap;
}

.about4-text h2{
    color: #290102;
    font-size: 70px;
    flex: 2;
    min-width: 300px; 
    display: flex;
    flex-direction: column;
}

.about4-text{
    color: #290102;
    font-size: 30px;
    flex: 2;
    min-width: 300px; 
    display: flex;
    flex-direction: column;
}

.about4-image img {
    width: auto;
    height: 500px;
    border-radius: 10px;
    margin-top: 10px;
}


/* Contact Section-------------------------------------- */

.info-section {
    background-image: url("images/background1.png");
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    box-sizing: border-box;
}

.info-section h1{
    font-size: 70px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.info-box {
    background-color: #faf9f2; 
    padding: 30px;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 1.6;
}


/* Predict section ---------------------------------- */
.predict-section {
    background-image: url("images/flower.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    box-sizing: border-box;
}

.predict-section h1{
    font-size: 70px; 
}


/* Result&Accuracy Section-------------------------------------- */
.result {
    font-size: 70px;
    font-family: 'Forta', sans-serif; 
    font-weight: bold;
    color: #a7292f; 
    text-align: center; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

.probability {
    font-size: 30px; 
    font-family: 'forta', sans-serif; 
    font-weight: normal;
    color: #a7292f; 
    text-align: center;
    margin-top: 0px;
}

/* Home page------------------------------------------------------- */

body.home-page {
    background-image: url("images/ombre.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-description {
    background-image: url("images/blob.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    box-sizing: border-box;   
}


.home-box {
    background-color: #cdc69a;
    color: #290102;
    padding: 1.5rem;
    width: 80%;
    margin-bottom: 2rem; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 1.6;
    align-items: center;
    text-align: center;
}

/* Info page------------------------------- */
body.ml_info-page {
    background-color: #F9E7D5;
} 