<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsBeacon - Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class = "contact-page">

    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-title">
                <span>NEWSBEACON</span>
            </div>


            <div class="nav-right">
                <a href="{{ url_for('home') }}" class="nav-home">HOME</a>
            
            <div class="hamburger-container">
                <div class="hamburger">☰</div>
                <div class="popup-menu">
                    <a href="{{ url_for('faq') }}">Definition & FAQ</a>
                    <a href="{{ url_for('process') }}">Detection Process</a>
                    <a href="{{ url_for('accuracy') }}">Accuracy Information</a>
                    <a href="{{ url_for('AI_info') }}">AI Importance</a>
                    <a href="{{ url_for('contact') }}">Contact</a>
                </div>
            </div>
        </div>

        </div>
    </nav>

    <!-- accuracy Section -->
    <section id="about" class="contact-section">
        <div class="contact-layout">

            <!-- LEFT COLUMN -->
            <div class="contact-left">
                <h1>Contact</h1>
                <p>
                    Created by <strong>Lina Ibrahim</strong>, a student <br> from <i>Multimedia University <br> Cyberjaya.</i> 
                    This project was <br> developed as part of a Final Year <br> Project in July 2025.
                </p>

                <h2>Email<h2>
                    <a href="mailto:linaibrhm@gmail.com" class="footer-link">
                        linaibrhm@gmail.com
                    </a>

                <h2>LinkedIn<h2>
                   <a href="https://www.linkedin.com/in/lina-ibrahim-24700926b/" target="_blank" class="footer-link">
                    <img src="{{ url_for('static', filename='images/linkedin-icon.png') }}" alt="LinkedIn" class="footer-icon">
                </a> 
            </div>


    </section>

<!-- footer Section -->
    <footer class="custom-footer">
        <div class="footer-content">
            <div class="footer-column">
                <h3>CONTACT ME</h3>
                <a href="mailto:linaibrhm@gmail.com" class="footer-link">
                    <img src="{{ url_for('static', filename='images/email-icon.png') }}" alt="Email" class="footer-icon">
                    linaibrhm@gmail.com
                </a>
                <a href="https://www.linkedin.com/in/lina-ibrahim-24700926b/" target="_blank" class="footer-link">
                    <img src="{{ url_for('static', filename='images/linkedin-icon.png') }}" alt="LinkedIn" class="footer-icon">
                    Lina Ibrahim
                </a>
            </div>

            <div class="footer-column">
                <h3>MORE ABOUT MY<br>RESEARCH</h3>
                <a href="{{ url_for('static', filename='pdfs/FYP2.pdf') }}" target="_blank" class="footer-link">
                    <img src="{{ url_for('static', filename='images/pdf-icon.png') }}" alt="PDF" class="footer-icon">
                    Fake News Detection System using Machine Learning Techniques.
                </a>
            </div>
        </div>

        <p class="footer-credit">
            © 2025, Created by Lina Ibrahim, a student from Multimedia University Cyberjaya. All Rights Reserved.
        </p>
    </footer>

</body>
</html>
